@charset "UTF-8";
@media (min-width: 200px) {
  .principalWrapper {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .principalWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .principalWrapper nav {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  background: #1b1b1b;
  position: fixed;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
nav .logo a {
  margin: 0;
  padding: 0;
}
@media (min-width: 200px) {
  nav .logo {
    width: 3rem;
    max-width: 17.5vh;
    height: 0 auto;
    padding: 0.9rem 0.5rem 0.5rem 0;
  }
}
@media (min-width: 600px) {
  nav .logo {
    width: 3rem;
    max-width: 25vh;
    height: 0 auto;
    padding: 0.9rem 0.5rem 0.5rem 0;
  }
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-transform: uppercase;
}
nav ul li {
  margin: 0 4px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: min(max(15px, 15px), 2vh);
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a:hover {
  color: #111;
  background: #fff;
}
nav ul li a.active {
  color: #111;
  background: #fff;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type=checkbox] {
  display: none;
}

@media (max-width: 920px) {
  header {
    height: 0 auto;
    width: 100%;
    background: #1b1b1b;
  }

  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 1.1rem 1rem 1rem;
  }
  nav .menu-btn i {
    display: block;
  }
  nav ul {
    position: fixed;
    top: 10vh;
    right: -100%;
    background: #1b1b1b;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  nav ul li {
    width: 100%;
    margin: 15px 0;
  }
  nav ul li a {
    width: 100%;
    margin-right: -100%;
    display: block;
    font-weight: 600;
    font-size: 17px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  nav ul li a:hover {
    background: none;
    color: #ffffff;
  }
  nav ul li a.active {
    background: none;
    color: #ffffff;
  }

  #click:checked ~ .menu-btn i:before {
    content: "";
  }
  #click:checked ~ ul {
    right: 0;
  }
  #click:checked ~ ul li a {
    margin-right: 0px;
  }
}
@media (max-width: 1200px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
.section-header-space {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.911);
  width: 100%;
}

@media (min-width: 320px) {
  .about-us {
    padding: 1rem;
  }
  .about-us ul li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about-us ul li p {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #D2D2D2;
  }
}
@media (min-width: 768px) {
  .about-us {
    padding: 1rem;
  }
  .about-us ul {
    display: flex;
    justify-content: space-around;
  }
  .about-us ul li {
    padding: 1rem;
  }
  .about-us ul li p {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .about-us {
    padding: 1rem;
  }
  .about-us ul {
    display: flex;
    justify-content: space-around;
    margin: 0 5rem;
  }
  .about-us ul li {
    width: 25rem;
    padding: 4rem;
  }
  .about-us ul li p {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
}
@media (min-width: 320px) {
  .principal-footer {
    margin: 0 1rem;
  }
  .principal-footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
  .principal-footer div img {
    width: 50%;
  }
  .principal-footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }
  .principal-footer ul li {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .principal-footer ul li img {
    width: 60%;
  }
  .principal-footer ul li a {
    color: #D2D2D2;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
  }
}
@media (min-width: 768px) {
  .principal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .principal-footer div {
    width: 70%;
    margin: 2rem 0;
  }
  .principal-footer ul {
    width: 40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .principal-footer ul li {
    display: flex;
    flex-direction: column;
  }
  .principal-footer ul li img {
    height: 80px;
    width: auto;
  }
  .principal-footer ul li:last-child img {
    padding: 0.5rem;
  }
  .principal-footer ul li a {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .principal-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .principal-footer div {
    width: 30%;
    margin: 2rem 0;
  }
  .principal-footer ul {
    width: 40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .principal-footer ul li {
    display: flex;
    flex-direction: column;
  }
  .principal-footer ul li img {
    height: 80px;
    width: auto;
  }
  .principal-footer ul li:last-child img {
    padding: 0.5rem;
  }
  .principal-footer ul li a {
    font-size: 1.3rem;
  }
}
.canUhelp {
  height: 33%;
  width: 100%;
  background: #D2D2D2;
  display: flex;
  justify-content: center;
}
.canUhelp div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.canUhelp hr {
  border: 1px solid #121212;
  width: 50%;
}
.canUhelp h2 {
  margin: 2rem;
}
.canUhelp p {
  text-align: center;
  margin: 3rem;
  font-size: 120%;
}

.inscribirse {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55%;
  width: 100%;
  background: #242424;
}
.inscribirse h3 {
  color: #FFFFFF;
  margin: 1rem;
  font-size: 2rem;
}
.inscribirse ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inscribirse li {
  color: #FFFFFF;
  margin: 1rem;
}
.inscribirse input {
  width: 15rem;
  height: 3rem;
  display: flex;
  align-content: center;
  justify-content: center;
}
.inscribirse ::placeholder {
  font-size: 1.5em;
}
.inscribirse button {
  color: #242424;
  background-color: #FFF64A;
  font-weight: 600;
  font-size: 20px;
  border-radius: 2rem;
  padding: 1rem;
  margin: 2rem;
}
.inscribirse button:hover {
  background: #242424;
  color: #ffffff;
  transition: all 0.3s ease;
}
.inscribirse textarea {
  resize: none;
  width: 15rem;
  height: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* img {
  width: 100%;
  height: auto;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  background-color: #121212;
}

main {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
