// Colors
$variable: #CE1212;
$secundary-color: #1B1717;
$intense-color: #810000;
$low-color: #EEEBDD;
$h3-color:#1b1b1b9a;


// Sizes
$main-margin: 1rem;
$main-padding: 6rem;
$main-mobile-padding: 3rem;