// Colors
$logo-color: #FFF64A;
$low-color: #D2D2D2;
$intense-color: #121212;
$white-color: #FFFFFF;
$grey-color:#242424;


// Sizes
$main-margin: 1rem;
$main-padding: 6rem;
$main-mobile-padding: 3rem;


//*Colors:

$main-color:rgb(87, 55, 55);
